/*********************************************
Note : 안내테스크 색상
*********************************************/
.Default_backColor,#CSpaper_Menu a,#CSpager_Layer .title strong {background-color:#145598;}
.Default_textColor {color:#145598;}

/*********************************************
Note : 기본레이아웃
*********************************************/
.body-wrap-full {width:100%;text-align:center}
.body-wrap-basic {width:960px;margin:0 auto}

/*********************************************
Note : 메뉴바
*********************************************/
.top-menu {position:absolute;left:-200px;top:110px;z-index:999}

/* 1차섹션 */
.top-menu .mega-menu,
.top-menu .mega-menu li.megaline {float:left}
.top-menu .mega-menu {width:200px;background-color:#f48152}
.top-menu .mega-menu li.megaline {position:relative;width:100%;line-height:100%;text-align:left;border-top:1px solid #fbab8a}
.top-menu .mega-menu li.megaline.nobr {border-top:0}
.top-menu .mega-menu li.megaline a.first {display:block;overflow:hidden;height:56px;padding:22px 15px;font-size:19px;letter-spacing:-0.08em;color:#fff}
.top-menu .mega-menu li.megaline a.first.a-hover,
.top-menu .mega-menu li.megaline a.first:hover {background-color:#ee6f3c;text-decoration:none}
.top-menu .mega-menu li.megaline a.first .icon {position:absolute;display:none;overflow:hidden;width:5px;height:9px;margin-top:-4.5px;text-indent:-5000px;right:15px;top:50%;background:url(./design_basic.png) -80px 0 no-repeat;z-index:44}
.top-menu .mega-menu li.megaline a.first.a-hover .icon,
.top-menu .mega-menu li.megaline a.first:hover .icon {display:block}

/* 2차섹션 */
.top-menu .mega-menu li.megaline ul.sub-menu {position:absolute;display:none;width:180px;left:200px !important;top:0 !important;background-color:#ee6f3c;z-index:80}
.top-menu .mega-menu li.megaline ul.sub-menu li.sub {font-size:15px;letter-spacing:-0.08em;border-top:1px dotted #fbab8a}
.top-menu .mega-menu li.megaline ul.sub-menu li.sub.nobr {border-top:0}
.top-menu .mega-menu li.megaline ul.sub-menu li.sub a {display:block;padding:15px 15px 17px;color:#ffe3d7}
.top-menu .mega-menu li.megaline ul.sub-menu li.sub a:hover {color:#fff;font-weight:bold}

/*********************************************
Note : 최종편집(시작/즐겨찾기)
*********************************************/
.top-gnb {height:35px;background-color:#2e2c2d}

/* updated */
.top-updated {float:left;line-height:100%;font-size:13px;color:#acacac;margin-top:9px}

/* member */
.top-member {float:right;height:35px;border-left:1px solid #4d4b4c}
.top-member li {float:left;height:35px;line-height:100%;letter-spacing:-0.08em;border-right:1px solid #4d4b4c}
.top-member li a {display:block;overflow:hidden;height:35px;padding:9px 13px;color:#acacac}
.top-member li a .icon {float:left;display:block;overflow:hidden;width:11px;height:12px;text-indent:-5000px;background:url(./design_basic.png) 0 -40px no-repeat;margin:1px 5px 0 0}
.top-member li a:hover {color:#fff}
.top-member li a:hover .icon {background-position:-40px -40px}

/*********************************************
Note : 로그인
*********************************************/
.top-header {position:relative;border-bottom:5px solid #7c7474}
.top-header .body-wrap-basic {position:relative;height:125px}

/* logo */
.top-header .top-logo {position:absolute;left:55px;top:50%;z-index:99}

/* menu btn */
.top-header .all-menu-btn {position:absolute;left:0;top:50%;margin-top:-17px}
.top-header .all-menu-btn a {display:block;overflow:hidden;width:34px;height:34px;text-indent:-5000px;background:url(./design_basic.png) 0 0 no-repeat}

/* sns */
.top-header .top-sns {position:absolute;right:0px;top:50%;margin-top:-16.5px;z-index:55}
.top-header .top-sns li {position:relative;float:left;margin-left:10px}
.top-header .top-sns li a u.icon {display:block;overflow:hidden;width:33px;height:33px;text-indent:-5000px;background:url(./design_basic.png) no-repeat}
.top-header .top-sns li.mark a u.icon {background-position:0 -80px}
.top-header .top-sns li.book a u.icon {background-position:-40px -80px}
.top-header .top-sns li.rss a u.icon {background-position:-80px -80px}
.top-header .top-sns li.mb a u.icon {background-position:-120px -80px}
.top-header .top-sns li.sch a u.icon {background-position:-160px -80px}
.top-header .top-sns li.mark a:hover u.icon {background-position:0 -120px}
.top-header .top-sns li.book a:hover u.icon {background-position:-40px -120px}
.top-header .top-sns li.rss a:hover u.icon {background-position:-80px -120px}
.top-header .top-sns li.mb a:hover u.icon {background-position:-120px -120px}
.top-header .top-sns li.sch a:hover u.icon {background-position:-160px -120px}
.top-header .top-sns li a .guide {position:absolute;display:none;width:80px;height:25px;line-height:23px;letter-spacing:-0.08em;left:50%;top:34px;margin-left:-40px;background-color:#7c7474;color:#fff;text-align:center;z-index:22}
.top-header .top-sns li a:hover .guide {display:block}
.top-header .top-sns li a .guide.small {width:60px;margin-left:-30px}
.top-header .top-sns li a .guide i.guide-icon {position:absolute;display:block;overflow:hidden;width:7px;height:4px;left:50%;margin-top:-4px;margin-left:-3.5px;background:url(./design_basic.png) -80px -40px no-repeat;z-index:11}

/* 검색 */
.top-header .top-sns li.sch .top-search {position:absolute;display:none;width:250px;height:35px;top:-1px;right:0;background-color:#fff;border:1px solid #7c7474;border-radius:35px;padding:5px 12px;z-index:66}
.top-header .top-sns li.sch .top-search input {float:left;width:200px;height:22px;font-size:13px;border:0}
.top-header .top-sns li.sch .top-search input.inptxt {color:#aaa}
.top-header .top-sns li.sch .top-search button {float:right;display:block;overflow:hidden;width:15px;height:15px;text-indent:-5000px;background:url(./design_basic.png) -120px -40px no-repeat;margin-top:4px}
.top-header .top-sns li.sch .top-search .sch-close {position:absolute;display:block;overflow:hidden;width:9px;height:9px;right:-20px;top:50%;margin-top:-4.5px;text-indent:-5000px;background:url(./design_basic.png) -120px 0 no-repeat}

/*********************************************
Note : 하단
*********************************************/
.footer-wrap {background-color:#2e2c2d}
.footer-wrap .body-wrap-basic {position:relative;height:300px;padding:22px 0}

/* logo */
.footer-wrap .dn-logo {text-align:left;margin-bottom:15px}

/* copyright */
.footer-wrap .dn-copy {line-height:140%;font-size:19px;letter-spacing:-0.03em;color:#989798;text-align:left}
.footer-wrap .dn-copy a {color:#989798;text-decoration:none}

/* down menu */
.footer-wrap .dn-menu,
.footer-wrap .dn-menu li {float:left}
.footer-wrap .dn-menu {width:215px}
.footer-wrap .dn-menu li {width:100%;line-height:100%;font-size:17px;letter-spacing:-0.08em;text-align:left;margin-bottom:15px}
.footer-wrap .dn-menu li:last-child {margin-bottom:0}
.footer-wrap .dn-menu li a {color:#d7d7d7}
.footer-wrap .dn-menu li a:hover {color:#fff}

/* down info */
.footer-wrap .dn-info {float:right;width:420px}
.footer-wrap .dn-info li {float:left;width:100%;line-height:100%;font-size:13px;letter-spacing:-0.05em;text-align:left;color:#989798;margin-bottom:13px}
.footer-wrap .dn-info li.mar-top {margin-top:20px}
.footer-wrap .dn-info li.num-eng {letter-spacing:-0.03em}
.footer-wrap .dn-info li:last-child {margin-bottom:0}
.footer-wrap .dn-info li a {color:#989798}

/* ndsoft */
.footer-wrap .ndsoft {position:absolute;right:0px;bottom:22px;z-index:99}

/* footer line */
.footer-wrap .footer-line {position:absolute;display:block;overflow:hidden;width:1px;left:240px;top:0;bottom:0;background-color:#4d4b4c;z-index:44}



