/*battleground_sub_01.css*/
@charset "UTF-8" ;

/* commonArea */
body{ overflow-x: hidden;}
h1,h2,h3,h4,h5,dt,dd{color:#ffcc00; font-family: "맑음고딕", malgumgothic, sans-serif;}
h2{font-size: 1.5rem}
h3{font-size: 1.25rem;/*20px*/}
h4{font-weight: normal;font-size:0.9375rem;text-transform: uppercase;color:#ffcc00;}
h5{font-weight: normal;font-size:0.9375rem;text-transform: uppercase;color:#ffcc00; }
p{font-size: 0.8rem;color:#ffcc00;font-family: "맑음고딕", malgumgothic;}
button{color:#ffcc00;text-align: center;}
.box_title{padding:1.875rem 1.25rem 0 1.25rem; box-sizing:border-box;  margin: 0 auto 4.375rem auto; width: 95%; background-color: rgba(51,51,51,0.8);}
.box_title>h3{padding-bottom: 0.625rem; box-sizing: border-box;}
.box_title>h3>span{display: block;border-bottom: 2px solid #ffcc00; padding-bottom: 0.625rem; width: 100%;}
h3>span{display: block;border-bottom:2px solid #ffcc00; padding-bottom: 0.625rem; width: 100%;}

/*header===================================*/


#wrap{width: 100%; height: auto; background-color: #acc;}
#headBox{position:relative;width: 100%; height: auto;background-color: #333;}
.container{padding: 0.625rem 0.625rem 0 0;box-sizing:border-box; width: 100%;max-width: 100%}
h1{background-image: url(../../img/battleground_img/hearder_logo.png); background-position: 50% 50%; background-repeat: no-repeat;background-size: cover;float: left;}
.mob_menu{position:relative; display: none;width: 100%;}
.mob_menu img{width: 2.5rem;height: 2.5rem;}
.mob_menu>button{float: right; margin-right: 5%;}
.mob_menu>button:focus + .mob_box{display: block;}
.mob_box a{color:#ffcc00;margin-top: 10px;}
.mob_box>dl{width: 100%;height: 100%;border: 5px solid rgba(254,205,7,0.9); box-sizing: border-box;}
.mob_box>dl>dt{margin:0.625rem 0;width: 100%;height: 100%;display: block;}
.mob_box>dl>dd{margin-top: 0.625rem; width: 100%; height: 100%; display: none;}
.mob_box{display: none;position: absolute;top:200%;z-index: 200; right:0; width: 100%;height: auto;background-color: rgba(50,50,50,0.9);text-align: center;}

.menu_box{display: none;}
.hide{display: none;}
.h2_box{position:absolute; top: 70%; width: 100%; height: auto;}
.header_h2{width: 100%;text-align: center;color: #ffcc00; font-family: "맑음고딕", malgumgothic;text-transform: uppercase; }
.menu_box{margin-top: 1.25rem;display: none;width: 80%;float: left;}
.menu_box a{color:#ffcc00;}
.menu_box a:hover,ad_conbox
.menu_box a:focus{border-bottom: 2px solid #ffcc00; transition:all 500ms ease; }
.login_box a{color:#ffcc00; text-transform: uppercase;}
.menu_box>dl{position:;z-index:200;float: left; margin-left: 4%;position: relative; width: 8%; height: 100%;}
.menu_box dt{width: auto; height: auto;text-align: center;font-weight: bold; text-transform: uppercase;}
.menu_box dt>a{display: block;  width: 100%;height: 20%;}
.menu_box dd{display: none; margin-top: 2.5rem;padding-bottom: 2.5rem;box-sizing: border-box;  position: absolute; top: 40%; left:0; width: 8.125rem; height: auto;text-transform: uppercase; float: left; background-color: #333; text-indent: 5%;}
.menu_box dd>a{display: block;width: 100%; height: auto;background-color: #333;}
.menu_box>dl:focus,
.menu_box>dl:hover a{margin-bottom:2px;}
.menu_box>dl:focus,
.menu_box>dl:hover>dd{display: block;}
/*adBox===================================*/
#adBox{width: 100%;height: auto;}

/*article1================================*/
#article1{box-sizing: border-box; width: 100%; height: auto; background-image: url(../../img/battleground_img/background_01.jpg); background-position: 0 0;background-repeat: no-repeat;
	background-size:cover ;}
.article1_conbox_01, .article1_conbox_02{margin: auto; width: 95%; border:5px solid #ffcc00; background-color: #333;}
.article1_imgbox_01{margin-right: 0.625rem;float: left; width: 60%; overflow: hidden;background-image: url("../../img/battleground_img/article1_imgbox_01.jpg");background-repeat:no-repeat;background-position: 50% 50%; background-size:cover ;}
.article1_imgbox_02{margin-right: 0.625rem;float: left; width: 60%; overflow: hidden;background-image: url("../../img/battleground_img/article1_imgbox_02.jpg");background-repeat:no-repeat;background-position: 50% 50%; background-size:cover ;}
.article1_conbox_01>h5,
.article1_conbox_02>h5{margin: 3.75rem 1.25rem 3.75rem;color:#ffcc00;}


/*article2================================*/
#article2{width: 100%; height: auto; background-image: url(../../img/battleground_img/background_02.jpg);background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;}
#article2>.box_title{margin-bottom: 0;}
.article2_title{padding-top: 3.75rem; background-color: transparent;}
.article2_box{margin-top: 1.5625rem;width: 40%;height: 6.25rem;background-color: #ffcc00;}
.article2_box>p{color:#333; margin:10% 10% 0 10%;}
.article2_titlebox{padding: 0.3125rem;box-sizing: border-box; margin: 0.3125rem auto;width: 80%; height: 1.875rem;background-color: #333;color:#ffcc00;text-align: center;text-transform: uppercase;}
.article2_box1{transition:all 500ms ease;}
.article2_box2{transition:all 500ms ease 100ms;}
.article2_box3{transition:all 500ms ease 200ms;}
.article2_box4{transition:all 500ms ease 300ms;}

.article2_box.active{transform:translate(0);}


/*section1==============================*/
#section1{padding-top: 4.375rem;box-sizing: border-box; width: 100%; height: auto; background-image: url(../../img/battleground_img/background_01.jpg); background-position: 50% 50%; background-repeat: no-repeat;background-size: cover;}
.section1_con_01,
.section1_con_02,
.section1_con_03>p{margin: auto; width: 95%; border:5px solid #ffcc00; background-color: #333;}
#section1 h5{text-transform: uppercase;margin-top: 10%; }
#section1 p {text-align: center;}
#section1 button {margin-top: 10%;width: 40%; height: 4.0625rem;float: left;margin-right: 3%; border:1.5px solid #ffcc00; background-color: #333;}
#section1 .section1_button1{margin-left: 5%;}
#section1 .section1_button2{width: 80%;margin-left: 10%;margin-right: 10%;}
.section1_con_01,
.section1_con_02{margin-bottom: 4.375rem;}
.section1_con_03>h4{padding:5% 5%;box-sizing: border-box; height: 4.375rem;background-color: rgba(51,51,51,0.8); }
#section1 .section1_con_03>p{margin: 0;width: 100%;text-align: left;padding: 3.125rem 0;box-sizing: border-box; margin: 0; width: 100%;}

.section1_buttonbox_01.active,
.section1_buttonbox_02.active{transform:translate(0);}
.section1_buttonbox_01{transition: all 500ms ease;}
.section1_buttonbox_02{transition: all 500ms ease;}
/*section2==============================*/
#section2{width: 100%; background-image: url("../../img/battleground_img/background_02.jpg");background-position: 50% 50%; background-repeat: no-repeat;background-size: cover;}
.section2_con_01,
.section2_con_02{width: 100%;}
.section2_title_01,
.section2_title_02{width: 100%;padding: 1.25rem 0;box-sizing: border-box; border-bottom: 0.125rem solid #ffcc00;padding-left: 5%;background-color: rgba(51,51,51,0.8);}
.box_title>h3>span{display: block;border-bottom: 0.125rem solid #ffcc00; padding-bottom: 0.625rem; width: 100%;}
.section2_con_01>p,
.section2_con_02>p{padding-left: 3%;background-color: #333;}


/*footBox==================================*/
#footBox{width: 100%; background-color: #333;}
.footer_logo_01{background-image: url("../../img/battleground_img/hearder_logo.png");background-repeat: no-repeat; background-size:cover ; background-position: 50% 50%;}
.footer_logo_02{background-image: url("../../img/battleground_img/footer_logo_02.png");background-repeat: no-repeat; background-size:cover ; background-position: 50% 50%;}

/* commonArea end */



/*mobile 480*/
@media screen and (max-width: 480px){
h1{margin:auto; width:8.125rem;height: 4.6875rem;float: none}
h2{font-size: 1rem}
.container{position:relative;height:7.5rem;}
.mob_menu{position:absolute; top:1.25rem; right:0; display: block; height: 20%;}
.mob_menu>img{width: 20%;height: 20%;}

.adbox_img{width: 100%;height:59vw ; background-image: url(../../img/battleground_img/battleground_adbox_mob.png); background-position: 50% 50%; background-repeat: no-repeat;background-size: cover;}

.login_box{display: none;}

/*article1==========================*/
#article1{padding-top: 1.875rem;box-sizing: border-box; height:64.375rem; }
.box_title{height: 27.083333vw; min-height: 9.375rem;}
.box_title>h4{margin-top: 0.5rem;}
.article1_conbox_01{height: 21.5625rem;}
.article1_conbox_02{height: 21.5625rem; margin-top: 3.125rem;}

.article1_imgbox_01,
.article1_imgbox_02{height: 71.666667vw; min-height: 21.5rem}
.article1_conbox_01, .article1_conbox_02{width: 95%; border:0.3125rem solid #ffcc00; background-color: #333;}
.article1_imgbox_01, .article1_imgbox_02{margin-right: 0.625rem;float: left; width: 60%; overflow: hidden;}

/*article2==========================*/
#article2{height: 260vw; min-height:74.6875rem;}

.article2_box{height: 13.125rem;}

.article2_box:nth-child(2n-1){margin-right: 11%;float: right;}
.article2_box:nth-child(2n){margin-left: 11%;float: left;}
.article2_box1{transform: translateX(-150%);}
.article2_box2{transform: translateX(150%);}
.article2_box3{transform: translateX(-150%);}
.article2_box4{transform: translateX(150%);}



/*section1==============================*/
#section1{height: 112.5rem;}
.section1_con_01{height: 16.875rem;margin-bottom: 4.375rem;}
.section1_con_02{height: 15rem;margin-bottom: 4.375rem;}
.section1_con_03{width: 97%;margin-left: 1.5%;}
#section1 h5{text-align: center;}

/*section2==============================*/
#section2{padding-left:2.5%;box-sizing: border-box; height: 820px;padding-top: 2.625rem;box-sizing: border-box;}
.section2_con_01{width: 97%;padding-top: 1.875rem; height: 22.125rem;}
.section2_con_02{width: 97%;padding-top: 100px;height: 18.4375rem;}
.section2_title_01,
.section2_title_02{margin-bottom: 0.875rem;}	
.section2_con_01>p{height: 300px;padding-top: 10px;box-sizing: border-box;}
.section2_con_02>p{height: 12.5rem;padding-top: 3.125rem;box-sizing: border-box;}

/*footBox==================================*/
#footBox{padding: 5.375rem 2.5rem;box-sizing: border-box; }
.footer_logo_01{margin-bottom: 1.875rem;width: 6.5625rem; height: 4.8125rem; float: left;}
.footer_logo_02{margin-bottom: 1.875rem;margin-top: 1.625rem;width: 6.25rem;height: 1.625rem; float: right;}
#footBox>address:before,
#footBox>address::before{content: " "; display: block; clear: both;}
#footBox>address>p{text-align: center; font-size: 0.625rem;}
#footBox>address>p:nth-child(1){margin-bottom: 3.125rem;}

}
/* mobile end */



/*tablet 768*/
@media screen and (min-width: 481px) and (max-width: 768px){

.container{position:relative;height: 39.0625vw;/*vw=200/768*100*/max-height: 11.25rem;}
.mob_menu{position:absolute; top: 1.5rem; right:0; display: block;height: 3.125rem;}
.mob_box{margin-top: 5%;}
h1{float:left;width: 10.3125rem;height: 4.6875rem;background-position: 50% 40%;}


.menu_box{display: none;}
.login_box{display: none;}




.adbox_img{width: 100%;height:60vw; background-image: url(../../img/battleground_img/battleground_adbox_mob.png); background-position: 0 0; background-repeat: no-repeat;background-size: 100% auto;}

/*article1==========================*/
#article1{padding-top: 2.75rem;box-sizing: border-box; height: 82.2916667vw; min-height:43.75rem; }
.article1_title{height: 8.125rem;margin-bottom: 1.875rem;}
.article1_title>h4{margin-top: 1.25rem;}

.article1_conbox_01{margin-left: 1.5%;margin-right: 2%;width: 100%; height: 12.8125rem;}
.article1_imgbox_01,
.article1_imgbox_02{width: 100%; height: 12.8125rem;}
.article1_conbox_01>h5,
.article1_conbox_02>h5{margin:13.75rem 0 0.9375rem 1.25rem;}
.article1_conbox_01 p,
.article1_conbox_02 p{margin-left:1.25rem;}
.article1_conbox_01,
.article1_conbox_02{float: left; width: 46%;height: 25rem;}

/*article2==========================*/
#article2{height: 86.875rem;}/*1350*/
#article2>.box_title{margin-bottom: 0;}
.article2_title{padding: 5.9375rem 0 5.9375rem 0;box-sizing: border-box; background-color: transparent;}
.article2_box{margin-top: 2.0625rem; width: 40%;height: 13.375rem;background-color: #ffcc00;}
.article2_titlebox{ margin: 1.875rem auto;}
.article2_box:nth-child(2n-1){margin-right: 11%;float: right;}
.article2_box:nth-child(2n){margin-left: 11%;float: left;}
.article2_box1{transform: translateX(-150%);}
.article2_box2{transform: translateX(150%);}
.article2_box3{transform: translateX(-150%);}
.article2_box4{transform: translateX(150%);}


/*section1======================================================*/
#section1{padding-top: 7.5rem;height: 115.625rem;}
.section1_title{height: 8.3125rem;width: 90%;}
.section1_con_01{position: relative; width: 85%;height: 21.875rem;}
.section1_con_02{width: 85%;height: 21.875rem;}
#section1 h5{width: 38%;height: auto;margin:auto;margin-top: 15%;text-align: center;}
.section1_con_03{width: 90%;margin-left: 5%;}
#section1 .section1_con_03>p{height: 28.125rem;}





/*section2======================================================*/
#section2{padding-left:7%;box-sizing: border-box; height: 67.5rem; padding-top: 9.0625rem;box-sizing: border-box;}
.section2_con_01{width: 90%;padding-top: 1.875rem; height: 22.125rem;}
.section2_con_02{width: 90%;padding-top: 6.25rem;height: 18.4375rem;}
.section2_title_01,
.section2_title_02{height: 5.625rem;margin-bottom: 0.625rem;}	
.section2_con_01>p{height: 16.25rem;padding: 3.125rem 0 6.25rem 3%;box-sizing: border-box;}
.section2_con_02>p{height: 12.5rem;padding-top: 3.125rem;box-sizing: border-box;}

/*footBox======================================================*/
#footBox{padding: 5.375rem 20% 3.4375rem 20%;box-sizing: border-box; height: 23.75rem;}
.footer_logo_01{margin-bottom: 3.125rem;width: 8.125rem; height: 4.8125rem; float: left;}
.footer_logo_02{margin-top: 1.625rem;width: 10rem;height: 1.625rem; float: right;}
#footBox>address:before,
#footBox>address::before{content: " "; display: block; clear: both;}
#footBox>address>p{width: 100%;text-align: center; font-size: 0.625rem;}
#footBox>address>p:nth-child(1){margin-bottom: 2.8125rem;}
}
/* tablet end */







/*laptop 1366*/
@media screen and (min-width: 769px) and (max-width: 1366px){



h1{float:left; margin-top: 2rem; width: 10%;height: 60%;}
.menu_box{margin-top: 3rem;float:left;display: block;font-size: 1rem;}
.menu_box>dl>dt{width: 140%;}
.container{position:relative;height: 39.0625vw;/*vw=200/768*100*/max-height: 11.25rem;}
.login_box{display: block; margin-top: 3rem;height: 3.125rem;float: right;}
.login_box>ul>li:nth-child(2){display: none;}



.adbox_img{width: 100%;height: 51.244509vw;/*43.75rem*/ background-image: url(../../img/battleground_img/battlegroung_adbox_01.jpg); background-position: 0 0; background-repeat: no-repeat;background-size: 100% auto;}


/*article==========================*/
#article1{padding-top: 3.125rem;height: 76.86676427525622vw; min-height:65.625rem; }
.article1_title{width: 85%;height: 8.125rem;}
.article1_title>h4{margin-top: 1.25rem;}
.article1_conbox_01{margin-left: 7%;margin-right: 10%; float: left; width: 37%;height: 39.0625rem;}
.article1_conbox_02{float: left; width: 37%;height: 39.0625rem;}
.article1_conbox_01>h5,
.article1_conbox_02>h5{margin:23.125rem 1.25rem 4rem 2.5rem;}
.article1_conbox_01 p,
.article1_conbox_02 p{margin-left:2.5rem;}

.article1_imgbox_01,
.article1_imgbox_02{width: 100%; height: 19.0625rem;}
.article1_imgbox_01>img,
.article1_imgbox_02>img{width: 100%; height: 100%;}

/*article2==========================*/
#article2{height: 67.5rem;}/*1350*/
#article2>.box_title{margin-bottom: 0;}
.article2_title{padding: 12.8125rem 0 5.3125rem 0;box-sizing: border-box; background-color: transparent;}
.article2_box{margin:0; width: 22.5%; height: 28.125rem;background-color: #ffcc00;float: left; transform:translateY(100%);}
.article2_titlebox{padding-top: 0.9375rem;box-sizing: border-box; margin: 1.875rem auto; height: 3.75rem;}

.article2_box:nth-child(2n-1){background-color: #ccc;}
.article2_box:nth-child(2){margin-left: 5%;}




/*section1======================================================*/
#section1{position: relative; height: 133.75rem;}
.section1_title{height: 9.375rem;}
.section1_title>h4{margin-top: 1.25rem;}
.section1_con_01,
.section1_con_02{margin-left: 1.5%;width: 47%; height: 38.4375rem;float: left;}
.section1_con_03{width: 95%; position: absolute; top:77.8125rem; left:2.5%;}
.section1_con_03:before,
.section1_con_03::before{content: " "; display: block; width: 100%;height: 0; clear: both;}
.section1_con_03>p{margin: auto; border:0.3125rem solid #ffcc00; background-color: #333;}
.section1_con_03>h4{font-size: 1.3rem;padding-top: 3%;}
#section1 h5{padding-top:20%;box-sizing: border-box; text-transform: uppercase;font-size: 1.5rem; text-align: center;}
#section1 p {margin-top: 30%;font-size: 1rem}


.section1_buttonbox_01 {display: block; padding: 0 0 0 4%; box-sizing: border-box; position: absolute; top:37%;left:5%;width: 40%; height: 18.4375rem; border: 0.125rem solid #ffcc00;background-color: #333;transform:translateY(100%);}
.section1_buttonbox_02 {display: block; position: absolute; top:37%;right:5%; width: 40%; height: 18.4375rem; border: 0.125rem solid #ffcc00;background-color: #333;transform:translateY(100%);}

#section1 button {width: 80%; height: 4.0625rem;border:1.5px solid #ffcc00; background-color: #333;}
.section1_buttonbox_02{padding-top: 8%; box-sizing: border-box;}

/*section2======================================================*/
#section2{padding:0 7%;box-sizing: border-box; height: 71.875rem; padding-top: 16rem;box-sizing: border-box;}
.section2_con_01{width: 45%;height: 36.875rem;float: left;margin-right: 10%;}
.section2_con_02{width: 45%;height: 36.875rem;float: left;}
.section2_title_01,
.section2_title_02{height: 5.625rem;margin-bottom: 0.625rem;}	
.section2_con_01>p,
.section2_con_02>p{height: 28.75rem; padding-top: 4.5625rem;box-sizing: border-box;}

/*footBox======================================================*/
#footBox{padding: 12.5rem 8% 3.4375rem 8%;box-sizing: border-box; height: 620px;}
.footer_logo_01{margin:0 3% 17.5rem 10%; width: 20%; height: 6.875rem; float: left;}
.footer_logo_02{margin: 1.25rem 3% 0 0;width: 25%;height: 3.125rem; float: left;}
#footBox>address{float: left; width: 30%;}
#footBox>address:before,
#footBox>address::before{content: " "; display: block; clear: both;}
#footBox>address>p{width: 100%;text-align: center; font-size: 0.625rem; margin: 0;}
#footBox>address>p:nth-child(1){margin-bottom: 2.8125rem;}
}

/* laptop end */

/*pc 1920*/
@media screen and (min-width: 1367px) {
h1{float:left;margin-top: 2.75rem;width: 8.125rem;height: 5.625rem;}
.adbox_img{width: 100%;height: 46.875vw; min-height:56.25rem;background-image: url(../../img/battleground_img/battlegroung_adbox_01.jpg); background-position: 50% 50%; background-repeat: no-repeat;background-size: cover;}
.menu_box{margin-top: 3.75rem; float:left; display: block;}
.login_box{display: block;}
.menu_box>dt{float:left}
.login_box{margin-top: 3rem;height: 50px;}

.container{position:relative;height: 39.0625vw;/*vw=200/768*100*/max-height: 11.25rem;}

/*article1==========================*/
#article1{padding-top: 8.4375rem;height: 81.25vw; min-height:97.5rem; }
.article1_title{margin-bottom: 12.8125rem;padding:2.625rem 0 0 2rem ;box-sizing: border-box; width: 85%;height: 11.375rem;}
.article1_title>h4{margin-top: 1.25rem;}
.article1_conbox_01{margin:0 0 5.9375rem 10%;width: 80%;height: 25rem;}
.article1_conbox_02{margin-left: 10%;width: 80%;height: 25rem;}
.article1_imgbox_01,
.article1_imgbox_02{margin-right: 5%; width: 60%; height: 100%;}
.article1_conbox_01>h5,
.article1_conbox_02>h5{margin-top: 5rem;width: 100%;font-size: 1.5rem}
.article1_conbox_01 p,
.article1_conbox_02 p{width: 100%;font-size: 1.1rem}

/*article2==========================*/
#article2{height: 58.5rem;}/*1350*/
#article2>.box_title{margin-bottom: 0; }
.article2_title{padding: 10rem 0 8rem 0;box-sizing: border-box;}
.article2_box{margin-right:2%; width: 20%; height: 24rem;background-color: #ffcc00;float: left; transform:translateY(100%);}
.article2_box>p{font-size: 1.1rem; }
.article2_titlebox{padding-top: 0.9375rem;box-sizing: border-box; margin: 1.875rem auto; height: 3.75rem; font-size: 1.5rem}

.article2_box:nth-child(2n-1){background-color: #ccc;}
.article2_box:nth-child(2){margin-left: 7%;}

/*section1======================================================*/
#section1{position: relative; height: 156.25rem;}
.section1_title{margin-top: 8.25rem;width: 87%;height: 10.875rem;}
.section1_title>h4{margin-top: 1.25rem;}
.section1_con_01{position: absolute;top:20%; left:5%; margin-left: 1.5%;width: 40%; height: 46.875rem;float: left;}
.section1_con_02{position: absolute;top:20%; right:5%; margin-left: 1.5%;width: 40%; height: 46.875rem;float: left;}
.section1_con_03{width: 95%; position: absolute; top:102rem; left:2.5%;}
.section1_con_03:before,
.section1_con_03::before{content: " "; display: block; width: 100%;height: 0; clear: both;}
.section1_con_03>p{margin: auto; border:0.3125rem solid #ffcc00; background-color: #333;height: 500px; }
.section1_con_03>h4{font-size: 1.3rem;padding-top: 3%;}
#section1 h5{padding-top:20%;box-sizing: border-box; text-transform: uppercase;font-size: 1.5rem; text-align: center;}
#section1 p {margin-top: 30%;font-size: 1rem}


.section1_buttonbox_01{display: block; padding: 0 0 0 4%; box-sizing: border-box; position: absolute; top:80%;left:5%;width: 90%; height: 18.4375rem; border: 0.125rem solid #ffcc00;background-color: #333;transform:translateY(100%);}
.section1_buttonbox_02{display: block; position: absolute; top:80%;right:5%; width: 90%; height: 18.4375rem; border: 0.125rem solid #ffcc00;background-color: #333;transform:translateY(100%);}

#section1 button {width: 80%; height: 4.0625rem;border:1.5px solid #ffcc00; background-color: #333;}

/*section2======================================================*/
#section2{padding:0 0 0 7%;box-sizing: border-box; height: 61.5625rem; padding-top: 5.75rem; box-sizing: border-box;}
.section2_con_01{width: 95%;height: 19.375rem;margin-bottom: 10rem;}
.section2_con_02{width: 95%;height: 19.375rem;}
.section2_title_01,
.section2_title_02{margin: 10% 5% 0 0;width: 35%;height: 5.625rem;float: left; padding: 30px 2%; box-sizing: border-box;}	
.section2_con_01>p{width: 60%;height: 19.5rem;padding: 3rem 0 0 4.75rem;box-sizing: border-box;float: left;}
.section2_con_02>p{width: 60%;height: 19.5rem;padding:5rem 0 0 4.75rem;box-sizing: border-box;float: left;}

/*footBox======================================================*/
#footBox{padding: 13.75rem 8% 3.4375rem 5%;box-sizing: border-box; height: 38.75rem;}
.footer_logo_01{margin:0 5% 17.5rem 10%; width: 15%; height: 11.25rem; float: left;}
.footer_logo_02{margin: 3.125rem 15% 0 0;width: 20%; height: 3.125rem; float: left;}
#footBox>address{float: left; width: 30%;}

#footBox>address>p{width: 100%;text-align: left; font-size: 0.625rem; margin: 0;}
#footBox>address>p:nth-child(1){margin-bottom: 2.8125rem;}



}

/* pc end */





